.row
  .col-md-6.col-md-offset-3
    h2 Bacon.js example
    .row.well
      form#baconjsExample.form-horizontal(role='form')
        .form-group
          .col-sm-6
            button#baconjs_up.btn.btn-primary(type='button') Up
            button#baconjs_down.btn.btn-primary(type='button') Down
          .col-sm-6
            label#baconjs_counter.control-label